<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor.SVGAnimation</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Begin Animation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Loading">
                <span class="oi oi-reload" aria-hidden="true"></span> Loading Animation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Celebration">
                <span class="oi" aria-hidden="true">
                    <svg style="float:left;" width="20" height="20" viewBox="-2 -2 14 22"><polygon fill="transparent" stroke="white" stroke-width="2" points="5,18 1,5 3,5 0,0 3,0 4,5 6,5 7,0 10,0 7,5 9,5"></polygon></svg>
                </span>
                 Celebration
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
