@page "/"
@using KristofferStrube.Blazor.DOM
@implements IDisposable
@inject IJSRuntime JSRuntime

<PageTitle>Blazor.SVGAnimation - Begin Animation</PageTitle>

<p>Click the paper to <code>begin</code> a SVG Animation</p>

<svg width="100px" height="100px">
    <rect @onclick="PaperClicked"
          x="20"
          y="10"
          width="60"
          height="80"
          stroke-width="2"
          stroke="black"
          fill="white"></rect>
    <path d="M 30 30 L 70 70 M 70 30 L 30 70"
          stroke-width="5"
          stroke="red"
          stroke-linecap="round"
          style="pointer-events:none;">
        <animate @ref="dataAnimationElementReference"
                 attributeName="d"
                 values="M 30 30 L 70 70 M 70 30 L 30 70;M 40 40 L 50 50 M 70 30 L 50 50"
                 begin="indefinite"
                 dur="3s"
                 fill="freeze" />
        <animate @ref="colorAnimationElementReference"
                 attributeName="stroke"
                 values="red;orange;green"
                 begin="indefinite"
                 dur="3s"
                 fill="freeze" />
    </path>
</svg>
<textarea style="height:100px;width:100%;" disabled="disabled">
    @log
</textarea>

@code {
    protected ElementReference dataAnimationElementReference { get; set; }
    protected ElementReference colorAnimationElementReference { get; set; }
    protected SVGAnimationElementInProcess dataAnimation = default!;
    protected SVGAnimationElement colorAnimation = default!;
    protected EventListenerInProcess<EventInProcess, Event> beginEventListener = default!;
    protected EventListenerInProcess<EventInProcess, Event> endEventListener = default!;
    protected EventListenerInProcess<EventInProcess, Event> repeatEventListener = default!;
    protected string log = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        dataAnimation = await SVGAnimationElementInProcess.CreateAsync(JSRuntime, dataAnimationElementReference);
        colorAnimation = await SVGAnimationElement.CreateAsync(JSRuntime, colorAnimationElementReference);

        beginEventListener = await dataAnimation.AddOnBeginEventListenerAsync(_ =>
        {
            log += "Begin event fired\n";
            StateHasChanged();
        });
        endEventListener = await dataAnimation.AddOnEndEventListenerAsync(_ =>
        {
            log += "End event fired\n";
            StateHasChanged();
        });
        repeatEventListener = await dataAnimation.AddOnRepeatEventListenerAsync(_ =>
        {
            log += "Repeat event fired\n";
            StateHasChanged();
        });
    }

    private async Task PaperClicked()
    {
        dataAnimation.BeginElement();
        await colorAnimation.BeginElementAsync();
    }

    public void Dispose()
    {
        dataAnimation.RemoveOnBeginEventListener(beginEventListener);
        dataAnimation.RemoveOnEndEventListener(endEventListener);
        dataAnimation.RemoveOnRepeatEventListener(repeatEventListener);
    }
}